out
dist
node_modules
.vscode-test/
*.vsix
*.tgz
.vscode/
external/*
!external/dependencies.md
!external/download.sh

# to be removed eventually
!external/AnnoFCConverter.exe
!external/annodiff.exe
!external/xmltest.exe
!external/xmltest2.exe
