node_modules
.gitignore
.vscodeignore
.yarnrc
.vscode/**
**/tsconfig.json
**/.eslintrc.json
**/*.map
webpack.config.js

# vscode stuff not relevant for npm package
dist/**
doc/**
generated/**
external/dependencies.md
external/download.sh
languages/**
out/compileAssets.js

# sources
src/**

# build results
**/*.vsix
**/*.tgz
