on:
  push:
    tags:
      - "*"
    branches:
      - main
  pull_request:
    branches:
      - main

name: Build & Upload

jobs:
  create-packages:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: install dependencies
        run: |
          npm install . --include=dev
          npm run download
      - name: get package version
        id: package-version
        uses: Saionaro/extract-package-version@v1.0.6
      - name: build extension
        run: vsce package
      - name: build command line tool
        run: npm run buildmod:pack
      - name: test 
        run: npm run test
      - name: upload extension
        uses: actions/upload-artifact@v4
        with:
          name: anno-modding-tools-${{ steps.package-version.outputs.version }}
          path: anno-modding-tools-${{ steps.package-version.outputs.version }}.vsix
          if-no-files-found: error
      - name: upload command line tool
        uses: actions/upload-artifact@v4
        with:
          name: anno-modding-tools-${{ steps.package-version.outputs.version }}
          path: anno-modding-tools-${{ steps.package-version.outputs.version }}.tgz
          if-no-files-found: error
      - name: release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          draft: true
          body: |
            [Full Changelog](https://github.com/anno-mods/vscode-anno-modding-tools/blob/${{ github.sha }}/CHANGELOG.md)

            Download via [Visual Studio Marketplace](https://marketplace.visualstudio.com/items?itemName=JakobHarder.anno-modding-tools) or in VS Code in the extension tab directly.
          files: |
            anno-modding-tools-${{ steps.package-version.outputs.version }}.vsix
            anno-modding-tools-${{ steps.package-version.outputs.version }}.tgz
